.btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 4px;
  font-family: 'PoppinsSemiBold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  transition: all 0.2s linear;
  @nclude transition(all .4s linear);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn-default {
  background-color: #00afec;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #006aec;
    color: #fff;
  }

  &.collapsed {
    background-color: #fff;
    color: #00afec;
  }
}

.btn-xlg {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 24px;
}

.btn-lg {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.btn-sm {
  padding: 10px 20px;
  font-size: 13px;
}