.rating {
  .star {
    font-size: 18px;
    display: inline-block;
    color: #e3e3e3;
  }
  .star:last-child {
    margin-right: 0;
  }
  .star:before {
    content:'\2605';
  }
  .star.full {
    color: #00afec;
  }
  .star.half:after {
    content: '\2605';
    color: #00afec;
    position: absolute;
    margin-left: -15px;
    width: 8px;
    overflow: hidden;
  }
}

blockquote {
  position: relative;
  marign: 0;
  padding: 30px 120px;
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 30px;

  &:before,
  &:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 100px;
    color: #eee;
    line-height: 1;
  }
  &:before {
    top: 0;
    left: 0;
    content: "\201C";
  }
  &:after {
    right: 0;
    bottom: 0;
    content: "\201D";
  }
}

.featurette {
  display: none;
  padding-top: 36px;
}

.owl-carousel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item,
.owl-carousel .owl-slide {
  height: 100%;
  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  h1 {
    font-size: 50px;
  }
  p {
    font-size: 21px;
  }
}

.owl-carousel .owl-item,
.owl-carousel .owl-slide {
  overflow: hidden;
  min-height: 360px;
  height: 600px;
}

.owl-dots{position:absolute;left:100px;right:0;bottom:15px;}
.owl-dot{display:inline-block;padding:5px}
.owl-dot span{display:block;width:10px;height:10px;background-color:#fff;border-radius:50%}
.owl-dot.active span{background-color:#00afec;}
.owl-dots.disabled,.owl-nav.disabled{display:none}

.styled-conversion {
  position: absolute;
  top: 30px;
  right: 8%;
  z-index: 1;
  background-color: #32353b;
  color: #fff;
  border-radius: 4px;
  padding: 2em 3em 1.2em;
  max-width: 409px;
  width: 46%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility !important;
  transition-property: height, visibility !important;
  -webkit-transition-duration: 0.35s !important;
  transition-duration: 0.35s !important;
  -webkit-transition-timing-function: ease !important;
  transition-timing-function: ease !important;
}