.section {
  position: relative;
  padding: 0;

  .section-heading {
    position: relative;
    text-align: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 90%;

    @media (max-width: 1199px) {
      width: 78%;
    }
    @media (max-width: 767px) {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    &.half {
      @media (min-width: 480px) {
        width: 50%;
      }
    }
    p {
      margin-bottom: 20px;
      line-height: 1.5;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 1.6;
      }
    }
    .btn {
      margin-top: 7px;

      @media (min-width: 480px) {
        margin-top: 0;
      }
    }
  }
}

.section-content {
  margin-top: 100px;
}

.section-blue {
  background-color: #056eb2;
}

.section-gray {
  background-color: #F3F3F3;
}

.section {
  &-brands {
    background-color: #828282;
    text-align: center;

    img {
      max-width: 100%;
      margin: 0 40px 0;
    }
  }

  &-feature {
    background-color: #e8e9ea;
  }

  &-services {
    p {
      font-size: 14px;
    }
  }

  &-get-started {
    background-color: #00afec;
    color: #fff;
  }
}